body{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7e/US_Bank_Stadium_-_West_Facade.jpg");
    background-size:100%;
    color: white;
}

.body{
    width: 75%;
    align-content: center;
    background-color:rgba(0, 0, 0, 0.5);
    align-items: center;
}

iframe{
    max-height: 600px;
    align-self: center;
}
