<div ng-if="m.searchClicked && m.queryEmpty">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Short Name</th>
                    <th>Description</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in m.founditems">               
                    <td>{{item.name}}</td>
                    <td>{{item.short_name}}</td>
                    <td>{{item.description}}</td>
                    <td> <button ng-click="m.remove($index);">Don't want this one!</button>
                                </td>
                </tr>
            </tbody>
        </table>
</div>
