<div>
  <center ng-if="!ctrl.customer.registered">
    <p>You have to sign up first.</p>
    <span><a ui-sref="public.signup()"> Sign up today!</a></span>
  </center>
  <section ng-if="ctrl.customer.registered">
    <ul>
      <li>Name: {{ctrl.customer.firstName}} {{ctrl.customer.lastName}}</li>
      <li>Email: {{ctrl.customer.emailAddress}}</li>
      <li>Phone number: {{ctrl.customer.phoneNumber}}</li>
      <li>Favorite menu: <menu-item menu-item="ctrl.customer.menuItem"></menu-item></li>
    </ul>
  </section>
</div>
