<style>
    .form-description{
        color:black;
    }
</style>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Sign up today!</h4>
  </div>
  <form name="signupForm" novalidate class="form-class" method="post">
      <p><font class="form-description">Fill out the form below</font> </p>
    <div class="input-group">
      <span class="form-description">First Name: </span><input size="100" class="form-control" type="text" name="firstName" ng-model="ctrl.customer.firstName" required="true">
      <span class="errorMessage" ng-if="signupForm.firstName.$error.required && signupForm.firstName.$touched">First name is required.</span>
    </div>
    <br>

    <div class="input-group">
        <span class="form-description">Last Name: </span><input size="100" class="form-control" type="text" name="lastName" ng-model="ctrl.customer.lastName" required="true">
      <span class="errorMessage" ng-if="signupForm.lastName.$error.required && signupForm.lastName.$touched">Last name is required.</span>
    </div>
    <br>

    <div class="input-group">
        <span class="form-description">Email: </span><input size="100" class="form-control" type="email" name="emailAddress" ng-model="ctrl.customer.emailAddress" required="true">
      <span class="errorMessage" ng-if="signupForm.emailAddress.$error.required && signupForm.emailAddress.$touched">Email is missing!</span>
    </div>
    <br>
    <div class="input-group">
        <span class="form-description">Phone number: </span><input size="100" class="form-control" type="phone" name="phoneNumber" ng-model="ctrl.customer.phoneNumber" required="true">
      <span class="errorMessage" ng-if="signupForm.phoneNumber.$error.required && signupForm.phoneNumber.$touched">Phone number is required</span>
    </div>
    <br>

    <div class="input-group">
        <span class="form-description">Menu Number: </span><input size="100" class="form-control" type="text" name="menuNumber" ng-model="ctrl.customer.menuNumber" required="true">
      <span class="errorMessage" ng-if="!ctrl.menuNumberExists && signupForm.menuNumber.$touched">Menu number does not exist.</span>
    </div>
    <br>

    <div class="successMessage" ng-if="ctrl.customer.registered && !signupForm.$invalid">
        <span>You have signed up. Congratulations</span>
    </div>
    <input class="form-control" type="submit" name="Submit" ng-click="ctrl.submitForm()" ng-disabled="signupForm.$invalid" value="SIGN UP"/>
  </form>
</div>