<style>
.form-description{
    color:black;
}

label {
    color: black;
}

.errorMessage {
    color: red;
}

.form-control{
    size: 400px;
}   
input [type="text"],input[type="email"],input[type="phone"]{
    color:#dc143c;
    background-color : #d1d1d1;
}
</style>
<section class="panel panel-default">
<!--  <div class="panel-heading">
    <h4 class="panel-title">Sign up today!</h4>
  </div>-->
  <form name="signupForm" novalidate  method="post" id="signUpForm">
      <p><font class="form-description">Fill out the form below</font> </p>
    <div class="input-group">
      <span class="form-description">First Name: </span><input type="text" name="firstName" ng-model="ctrl.customer.firstName" required="true">
      <span class="errorMessage" ng-if="signupForm.firstName.$error.required && signupForm.firstName.$touched">First name is required.</span>
    </div>
    <br>

    <div class="input-group">
        <span class="form-description">Last Name: </span><input type="text" name="lastName" ng-model="ctrl.customer.lastName" required="true">
      <span class="errorMessage" ng-if="signupForm.lastName.$error.required && signupForm.lastName.$touched">Last name is required.</span>
    </div>
    <br>

    <div class="input-group">
        <span class="form-description">Email: </span><input  type="email" name="emailAddress" ng-model="ctrl.customer.emailAddress" required="true">
      <span class="errorMessage" ng-if="signupForm.emailAddress.$error.required && signupForm.emailAddress.$touched">Email is missing!</span>
    </div>
    <br>
    <div class="input-group">
        <span class="form-description">Phone number: </span><input type="phone" name="phoneNumber" ng-model="ctrl.customer.phoneNumber" required="true">
      <span class="errorMessage" ng-if="signupForm.phoneNumber.$error.required && signupForm.phoneNumber.$touched">Phone number is required</span>
    </div>
    <br>

    <div class="input-group">
        <span class="form-description">Favorite menu item #: </span><input  type="text" name="menuNumber" ng-model="ctrl.customer.menuNumber" required="true">
      <span class="errorMessage" ng-if="!ctrl.menuNumberExists && signupForm.menuNumber.$touched">Menu number does not exist.</span>
    </div>
    <br>

    <div class="successMessage" ng-if="ctrl.customer.registered && !signupForm.$invalid">
        <!--<script>alert('You have signed up. Congratulations');</script>-->
        <p class="form-control">You have signed up. Congratulations</p>
    </div>
    <input class="form-control" type="submit" name="Submit" ng-click="ctrl.submitForm()" ng-disabled="signupForm.$invalid" value="SIGN UP"/>
    <br>
    <input class="form-control" type="button" name="Reset" ng-click="ctrl.resetForm()" value="RESET" />
    <br>
    <input class="form-control" type="button" name="Cancel" ng-click="ctrl.goback()" value="CANCEL" style=" color: red"/>
  </form>
</section>
